.testimonial-group > .row {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  .testimonial-group > .row > .col-sm-4 {
    display: inline-block;
  }
  .spaceAround{
    padding: 10px;
    margin: 20px 10px;
  }
  .tags{
    position: absolute;
    margin-top: 1vmax;
    margin-left: 1vmax;
    background-color: white;
    border: 0.1px solid rgb(57, 56, 56);
    border-radius: 9px;
    z-index: 2;
    width: 5vmax;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(252, 252, 252);
    text-shadow: 0 0 3px rgb(0, 0, 0);
  }
  .picture{
    height: 20vmax;
  }
  .title{
    font-size: 3vmax;
  }
  .event:hover{
    transition: transform 500ms;
    transform: translateY(-10px);
  }
  /*  */
  .carousel-inner {
    padding: 1em;
  }
  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  @media (min-width: 768px) {
    .carousel-item {
      margin-right: 0;
      flex: 0 0 33.333333%;
      display: block;
    }
    .carousel-inner {
      display: flex;
    }
  }
  .card .img-wrapper {
      max-width: 100%;
      height: 13em;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .card img {
      max-height: 100%;
  }
  @media (max-width: 767px) {
    .card .img-wrapper {
      height: 17em;
    }
  }