#bg{
    background-color: rgb(57, 56, 56);
    padding-top: 100px;
    padding-bottom: 1vmax;
}
#image{
    display: flex;
    align-items: center;
    justify-content: center;
}
#inside-img{
    height: 33vmax;
    max-width: 40vmax;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
}
#info{
    background-color: rgb(182, 182, 182);
    padding: 2vmax 1vmax;
}
.info{
    height: 100px;
    font-size: 1.5vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(57,56,56);
    color:white;
    border-radius: 0.5rem;
    box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
}
#title{
    border-radius: 1.5rem;
    font-size: 2vmax;
    text-decoration: none;
    font-family: Trebuchet, sans-serif;
    background-color: rgb(57,56,56);
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
#butt{
    display: flex;
    justify-content: flex-end;
}
#rew{
    background-color: rgb(78, 151, 78);
    padding: 0.5vmax;
    text-align: center;
    border-radius: 0.5rem;
    margin-top: 1vmax;
}
#reviews{
    padding: 1vmax;
    align-items: flex-start;
    display: flex;    
}
.card{
    width: 15vmax;
    margin: 0 0.5vmax;
}
.card-text{
    background-color: rgba(0, 0, 0, 0.123);
    padding: 1vmax 0.5vmax;
    font-family: URW Chancery L, cursive;
    border-radius: 0.3rem 1vmax;
}
