#bg{
    background-color: rgb(57, 56, 56);
    padding-top: 100px;
    padding-bottom: 1vmax;
}
#image{
    display: flex;
    align-items: center;
    justify-content: center;
}
#inside-img{
    height: 33vmax;
    max-width: 40vmax;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
}
.row{
    background-color: rgb(182, 182, 182);
    padding: 2vmax 1vmax;
}
.info{
    height: 100px;
    text-decoration: underline;
    font-size: 1.5vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
}
#title{
    border-radius: 2rem;
    font-size: 2vmax;
    text-decoration: none;
}
#butt{
    display: flex;
    justify-content: end;
}
