#bg{
    background-color:rgb(57, 56, 56);
    height: max-content;
}
.locale{
    height: 20vmax;
    background-color: aliceblue;
    margin: 1.5vmax 0;
}
.locale:hover{
    transform: scale(1.01);
}
.locales{
    padding-top: 5.5vmax;
}
.upper-des{
    height: 50%;
    align-items: center;
    justify-content: center;
    font-size: 2vmax;
}
.lower-des{
    height: 50%;
    background-color: burlywood;
}
#picture{
    background-color:yellow
  }