<a routerLink="/users/create">Add new user</a>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Type</th>
        <th scope="col">Edit / Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of users">
        <th scope="row" style="width:5%">{{u.id}}</th>
        <td>{{u.username}}</td>
        <td>{{u.name}}</td>
        <td>{{u.email}}</td>
        <td>{{u.phoneNumber}}</td>
        <td>{{u.type}}</td>
        <td style="width:12%;">
            <a class="btn btn-sm btn-primary">Edit</a> | 
            <a class="btn btn-danger btn-sm" (click)="onDelete(u.id)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>