<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Date and Time</th>
        <th scope="col">Locale</th>
        <th scope="col">Table Id</th>
        <th scope="col">Username</th>
        <th scope="col">Edit / Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of reservations">
        <th scope="row" style="width:5%">{{r.id}}</th>
        <td>{{r.name}}</td>
        <td>{{r.description}}</td>
        <td>{{r.phoneNumber}}</td>
        <td>{{r.dateTime}}</td>
        <td>{{r.locale.name}}</td>
        <td>{{r.table.id}}</td>
        <td>{{r.user.username}}</td>
        <td style="width:12%;">
            <a class="btn btn-danger btn-sm" (click)="delete(r.id)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>