.bg {
  background-color: rgb(57, 56, 56);
}
@font-face {
  font-family: BabasNeue;
  src: url(../../assets/fonts/BabasNeue/BebasNeue-Regular.ttf)
    format("truetype");
}
#image {
  position: relative;
  text-align: center;
  color: white;
  font-family: BabasNeue;
  font-size: 13vmax;
  height: 10%;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#backphoto {
  width: 100%;
}
#events-header {
  color: white;
  text-align: center;
  overflow: hidden;
  text-align: center;
  font-size: 2vmax;
  margin-top: 3vmax;
}
#events-header:before,
#events-header:after {
  background-color: white;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
#events-header:before {
  right: 0.5em;
  margin-left: -50%;
}
#events-header:after {
  left: 0.5em;
  margin-right: -50%;
}
