<div class="bg">
<div><app-navbar></app-navbar></div>
<div id="title" class="text-center">CITY EVENTS</div>
<!-- <img src="../../assets/images/frida-aguilar-estrada-4g0XOeKt5ns-unsplash.jpg" style="width:100%"> -->
<div class="container">
    <app-events-home></app-events-home>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6 spaceAround">
            FOOTERFOOTER
            FOOTERFOOTER
            FOOTERFOOTER
        </div>
        <div class="col-sm-6 spaceAround">
            FOOTERFOOTER
            FOOTERFOOTER
            FOOTERFOOTER
        </div>
    </div>
</div>
