<app-navbar></app-navbar>
<div *ngIf="event" id="bg">
    <div class="container">
        <div class="row">

            <div class="col-8 m-2">
                <div id="image">
                    <img src="{{event.logoUrl}}" id="inside-img">
                </div>
                <div class="h1 m-5 text-center info" id="title">{{event.name}}</div>
                <div class="m-3 text-center">{{event.description}}</div>
            </div>
    
            <div class="col-3">
                <div class="info mb-4 text-center">
                    <i class="bi bi-building icon" style="color: blue;"></i>: {{event.city}}
                </div>
                <div class="info mb-4 text-center">
                    <i class="bi bi-calendar icon" style="color: blue;"></i>: {{event.date}}
                </div>
                <div class="info mb-4 text-center">
                    Number of reservations: {{event.numReservations}}
                </div>
                <div id="butt">
                    <input class="btn btn-success" type="button" value="Make reservation">
                </div>
            </div>
    
        </div>
    </div>
    
</div>
<app-footer></app-footer>

