.navbar{
    position:fixed;
    width:100%;
    background-color:rgba(0, 0, 0, 0.8);
    font-size: 1.4em;
    z-index: 10;
}
a{
    font-family: BabasNeue;
    color:white !important;
}
@font-face {
    font-family: BabasNeue;
    src: url(../../assets/fonts/BabasNeue/BebasNeue-Regular.ttf) format("truetype")
}
#logo{
    margin-left: 1vmax;
    border: 1px black solid ;
    border-radius: 10px;
    width: 90%;
}
.navbar-nav > li{
    margin-left:30px;
    margin-right:30px;
  }