<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap"
  rel="stylesheet"
/>
<div id="bg">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="pt-1 mb-0">
          <img class="img img-thumbnail" src="../../assets/images/Logo.jpg" />
          <div class="ralewayFont"><h2>About us:</h2></div>
        </div>
        <hr />
        We are City Events. Our goal is to make the process of finding and
        reserving your place at the events in our region easier and faster. We
        are very proud of our partners and looking forward to making many more
        partnerships. Feel free to contact us at any given time.
      </div>
      <div class="col-md-4 text-center mt-4">
        <div class="ralewayFont"><h2>Pages</h2></div>
        <hr class="bg-danger w-50 mx-auto" />
        <ul class="list">
          <li><a class="link" routerLink="/home">Home</a></li>
          <hr />
          <li><a class="link" routerLink="/locales">Locales</a></li>
          <hr />
          <li><a class="link" routerLink="/events">Events</a></li>
          <hr />
        </ul>
      </div>
      <div class="col-md-4 text-center mt-4">
        <div class="ralewayFont"><h2>Get in touch with us</h2></div>
        <hr class="bg-danger w-50 mx-auto" />
        <ul class="list pb-5 info">
          <li>
            <i class="bi bi-telephone-forward"></i>
            <span class="ps-3"> 071 / 555 - 433</span>
          </li>
          <hr />
          <li>
            <i class="bi bi-envelope-fill"></i>
            <span class="ps-3 pb-2">
              <a href="mailto:webadmin@cityevents.com">Send mail</a></span
            >
          </li>
          <hr />
          <li>
            <div class="ralewayFont">Or, just message us on social media..</div>
          </li>
        </ul>
        <div class="icons-wrapper h-25 d-flex justify-content-around">
          <a href="#"><i class="bi bi-instagram icon"></i></a>
          <a href="#"><i class="bi bi-facebook icon"></i></a>
          <a href="#"><i class="bi bi-linkedin icon"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
