
#bg{
    background-color: aliceblue;
}
.ralewayFont{
    font-family: 'Raleway', sans-serif;
}
.list {
    list-style: none;
    text-align: center;
}
.link {
    display:inline-block;
    margin-block: 2px;
    text-decoration: none;
    color: red;
    position: relative;
}
.link::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: red;
    border-radius: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .25s ease;
}
.link:hover::after {
    transform: scaleX(1);
}
.icon {
    display:inline-block;
    font-size: 44px;
    animation: float 5s ease-in-out infinite;
}
.bi-facebook {
    animation-delay: 2s;
}
.bi-instagram {
    animation-delay: 1s;
}
.bi-linkedin {
    animation-delay:3s;
}
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}
.info {
    text-align: left !important;
}